ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__SORMADb=Host=localhost;Port=5433;Database=SORMAnalyticsDb;Username=postgres;Password=postgres

Jwt__Issuer=SORMAnalytics.api
Jwt__Audience=SORMAnalytics.app
Jwt__Key=replace-with-at-least-32-char-random-secret
Jwt__ExpirationInMinutes=30
Jwt__RefreshTokenExpirationInDays=7

FmpOptions__ApiKey=replace-with-real-fmp-api-key #bG2E9fLucJlGHvpN1vwQopnd31nc9zl0
FmpOptions__BaseUrl=https://financialmodelingprep.com/stable/
FmpOptions__DailyQuery=historical-price-eod/dividend-adjusted

AdminBootstrap__Enabled=true
AdminBootstrap__Email=admin@gmail.com
